<h1>Adicionar Produto</h1>

<%= render 'form', product: @product %>
<script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script> 
  <script type="text/javascript">
 
  bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('area1');
        
  });
  </script>